<style type="text/css">
	a{
		color: #19865C;
		text-decoration: none;
	}
	a:hover{
		color: #19865C;	
		text-decoration: none;
	}

	header{
		border-bottom: 1px solid #dee2e6;
		padding-top: 3px;
    	display: block;
    	background: #fff
	}

	.logo{
		color: #19865C;
		font-weight: 700
	}

	.bg-success2{
		background-color: #19865C;
	}
	.font-success{
		color: #19865C;
	}
	
	.font-w7{
		font-weight: 700
	}
	.release-notes {
	    float: right;
	    margin-top: 7px;
	    color: #525252
	}
	.u-clearfix:after {
	    content: "";
	    clear: both;
	    display: table;
	}
	
	main{
		display: block;
	}
	footer{
		display: block;
		padding: 5px 0;
	    width: 100%;
	}
	footer .page-link span{
		color: #19865C;
		text-decoration: None;
	}


	footer .page-item.active .page-link{
		background-color: #e9ecef;
		border-color: transparent;
	}

	.btn-export{
		background-color: #19865c;
		border-color: #19865c;
		color: #fff
	}
	.btn-export:hover{
		color: #fff
	}
	.btn-export:focus {
	    outline: 0;
	    box-shadow: 0 0 0 0.2rem rgba(25, 134, 92, 0.25);
	}
</style>